.gbtn {
    width: 100%;
    height: 100%;
    padding: 12px;
    /* background: transparent; */
    /* color: black; */
    border: none;
    background-color:#00B800;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.gbtn:hover {
   
    border-radius: 25px;
    transition: 100ms;
    color: white;

    font-size: 1.2em;
    letter-spacing: 0.05em;
}